body {
  background-color: rgb(37, 50, 131);
}
h1 {
  color:white;
  text-align:center;
  font-family:helvetica;
}
p {
  color:white;
  font-family:georgia;
  font-style:italic;
  background-color:rgb(140, 153, 234);
  padding:20px;
}
